@charset "utf-8";
/* CSS Document */

	

.mod_basic > .title .tabs {
display: inline-block;
padding-left: 10px;
vertical-align: middle;
}
.mta_wechat .mod_basic > .title .tabs a {
min-height: 40px;
line-height: 40px;
}
.mta_wechat .mod_basic > .title .tabs a {
margin: 0;
padding: 0 15px;
min-width: 76px;
text-align: center;
border-right: none;}


*{font-weight: normal;
font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","微软雅黑","黑体",Arial,sans-serif;}
a{text-decoration:none;}
.mod_basic{ border:1px solid #169Df6;}
.mod_basic h3, .mod_basic .tabs{ float:left; line-height:20px}
.mod_basic h3{/*line-height: 40px;min-height: 40px;*/
font-size: 14px; padding:0; margin:0;
padding-left: 20px;
display: inline-block;vertical-align: middle;}
.mod_basic .tabs a{text-decoration:none; display:block; float:left }

	
		 /*-------时间------*/
.ui_filter_bar{ clear:none;}	


	
	.sub_menu{ clear:left; border-top:1px solid #169Df6; border-bottom:1px solid #169Df6; padding:10px 20px}
	 .tool_date{ margin-bottom:10px;}
	 .tool_date .time_lable{ float:left; width:80px; line-height:28px; display:block; padding-right:10px;}
	 .date-section{ float:left}
	 #short_opt, #toolbar{ margin:0; padding:0;}
	 #toolbar li { float:left;list-style-type:none}
	 #toolbar li{ list-style:none}
	 #div_date{ float:left; line-height:30px; border:1px solid #E6E7EC; border-left:none; padding:0 10px; margin:0; display:block;}
	 #date{ margin:0;}	
	 #btn_compare{ float:right; border:none;}
	 
	 /*-------增长来源------*/
	 .ui_filter_content{ clear:none}
	 .ui_filter_content .lable{ float:left}
	 #source_text{ width:70px; line-height:28px;}
	 .ui_buttons{ }
	 .ui_filter_content button{ list-style:none; border:1px #bbb solid; border-left:none; padding:0 10px; margin:0;}
	 .ui_filter_content .current{border-left:1px #bbb solid;}
	 
	 .content{ padding:25px 20px;}